* {
    font-family: Cambria, Cochin, Georgia, serif;    
}

:root {
    --white: #f7f7f7;
    --black: #100303;
    --color: #95389e;
}

a { 
    color: var(--color);
}

h1 {
    counter-reset: h2;
    font-weight: normal;
    margin-top: 0;
    font-size: 1.75em;
}

h2::before {
    counter-increment: h2; content: counter(h2) ". ";
}

h2 {
    counter-reset: h3;
    font-weight: normal;
    margin: 0.5em 0 0.5em;
}

h3::before {
    counter-increment: h3; content: counter(h2) "." counter(h3) " ";
}

h3 {
    font-weight: normal;
    margin: 0.5em 0 0.5em;
}

p {
    margin: 0.5em 0 0.5em;
}

body {
    font-size: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#main {
    background-color: var(--white);
    color: var(--black);
    width: 50em;
    min-width: min-content;
    max-width: 100%;
    text-align: justify;
    box-shadow: 0 0 0.5em var(--color);
}

#pagehead {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    color: var(--white);
    text-shadow: var(--black);
    padding: 0.4em;
    box-shadow: 0 0 0.5em var(--color);
}

#pagehead span {
    margin-inline-start: 1rem;
    font-size: 2em;
}

#page {
    padding: 1em; 
    padding-bottom: 0;
}

#toc > ol {
    padding: 0;
}

#toc a {
    text-decoration: none;
}

table {
    background-color: var(--black);
    margin: auto;
    margin-bottom: 1em;
    padding:1px;
    border-radius: 1.5px;
    box-shadow: 0 0 0.5em var(--color);
}

td {
    background-color: var(--white);
}

th {
    background-color: var(--color);
    color: var(--white);
    font-weight: normal;
}

td, th, caption {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
    min-width: 1em;
}

.caption {
    background-color: var(--black);
    color: var(--white);
}

b {
    font-weight: normal;
    color: var(--color);
}

ol { 
    counter-reset: item 
}

ol > li { 
    display: block 
}

ol > li::before { 
    content: counters(item, ".") ". "; 
    counter-increment: item; 
}

li ol > li::before {
    content: counters(item, ".") " "; 
}

ul > li {
    list-style-image: url("ilmarker.svg");
}

hr {
    color: var(--color);
    margin: 1em 0 0 0
}

#footer {
    text-align: center;
    font-size: 0.7em;
    margin: 1em;
}

button {
    font-size: 1em;
    background-color: var(--color);
    color: var(--white);
    border: none;
    padding: 0.2em 0.4em;
    box-shadow: 0 0 0.5em var(--color);
    border-radius: 1.5px;
}

button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(80%) contrast(120%);
}

::selection {
    color: var(--white);
    background: var(--color);
}

::-webkit-scrollbar {
    width: min-content;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--color);
}

sub, sup {
    font-size: 0.7em;
}

/* thanks astro for this css :) */