@font-face{
    font-family: blob-emoji;
    src: url("notocoloremojicompat.ttf");
}

:root{
    --dark-bg: #202020;
    --dark-fg: white;
    --dark-hidden-fg:dimgray;
    --light-bg: #E0E0F4; 
    --light-fg: #202020;
}

*{
    font-family:sans-serif, blob-emoji;
}

p{
    margin-bottom: 10px;
    margin-top: 10px;
}

header{
    background-color: var(--dark-bg);
    color: var(--dark-fg);
    margin-bottom: 20px;
    border-radius:10px;
}

header h1{
    margin-bottom: 10px;
    padding-top:15px;
}

header button{
    margin-bottom: 15px;
    background-color: var(--dark-bg);
    color: var(--dark-fg);
    border-style: none;
    border-radius: 10px;
    padding:10px;
    margin-left: 0px;
    margin-right: 0px;
}

header button:hover{
    background-color: black;
    transition: 0.2s;
}

header button:active{
    background-color: var(--light-bg);
    color: var(--light-fg);
    transition: 0.05s;

}

body{
    background-color: var(--light-bg);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

footer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-bg);
    color: var(--dark-hidden-fg);
}
footer a{
    color: var(--dark-fg);
}