@font-face {
    font-family: noto;
    src: url("NotoSans-Regular.ttf");
}

* {
    font-family: noto, sans-serif;
}
:root {
    --white: #f7f7f7;
    --black: #100303;
    --color: #0d7000;
}

a { 
    color: var(--color);
}

h1 {
    counter-reset: h2;
    font-weight: normal;
    margin-top: 0;
    font-size: 1.75em;
}

h2 {
    counter-reset: h3;
    font-weight: normal;
    margin: 0 0 0.5em;
}


p {
    margin: 0.5em 0 0.5em;
}

body {
    font-size: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#main {
    background-color: var(--white);
    color: var(--black);
    width: 50em;
    min-width: min-content;
    max-width: 100%;
    text-align: justify;
    box-shadow: 0 0 0.5em var(--color);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#pagehead {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    color: var(--white);
    text-shadow: var(--black);
    padding: 0.4em;
    box-shadow: 0 0 0.5em var(--color);
    flex-grow: 0
}

#pagehead span {
    margin-inline-start: 1rem;
    font-size: 2em;
}

#page {
    padding: 1em; 
    padding-bottom: 0;
    flex-grow: 2;
}

#toc > ol {
    padding: 0;
}

#toc a {
    text-decoration: none;
}

table {
    background-color: var(--black);
    margin: auto;
    margin-bottom: 1em;
    padding:1px;
    border-radius: 1.5px;
    box-shadow: 0 0 0.5em var(--color);
}

td {
    background-color: var(--white);
}

th {
    background-color: var(--color);
    color: var(--white);
    font-weight: normal;
}

td, th, caption {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
    min-width: 1em;
}

.caption {
    background-color: var(--black);
    color: var(--white);
}

b {
    font-weight: normal;
    color: var(--color);
}

ol { 
    counter-reset: item 
}

ol > li { 
    display: block 
}

ol > li::before { 
    content: counters(item, ".") ". "; 
    counter-increment: item; 
}

li ol > li::before {
    content: counters(item, ".") " "; 
}


li {
    font-size: 1em;
}

hr {
    color: var(--color);
    margin: 1em 0 0.75em 0;
    border-bottom: 1px; 
}

#footer {
    text-align: center;
    font-size: 0.7em;
    margin: 1em;
    justify-self: self-end;
    flex-grow: 0;
    margin-bottom: -1em;
}

button {
    font-size: 1em;
    background-color: var(--color);
    color: var(--white);
    border: none;
    padding: 0.2em 0.4em;
    box-shadow: 0 0 0.5em var(--color);
    border-radius: 1.5px;
    transition: filter 0.1s;
}

button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(80%) contrast(120%);
}

.infolink {
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    background-color: var(--color);
    color: var(--white);
    border: none;
    padding: 0.2em 0.4em;
    box-shadow: 0 0 0.5em var(--color);
    border-radius: 1.5px;
    transition: filter 0.1s;
    margin: 0 0 0.8em 0;
}

.infolink .moreinfo {
    margin-top: 0em;
    font-size: 1rem;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.infolink:hover > .moreinfo {
    height: auto;
    opacity: 1;
    transition: opacity 0.2s;
}

.infolink:active {
    filter: brightness(80%) contrast(120%); 
}

.moreinfo {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.moreinfo img {
    height: auto;   
    object-fit: contain;
}

::selection {
    color: var(--white);
    background: var(--color);
}

::-webkit-scrollbar {
    width: min-content;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--color);
}

sub, sup {
    font-size: 0.7em;
}

/* thanks astro for this css :) */